# ignore backup dir
src/backup/
# ignore fpc makefiles
Makefile
Makefile.fpc
Makefile.fpcxxx
# ignore build dir
src/lib/
src/units/
src/alpaca_encoder.app
component/lib/
component/synapse/source/lib/lib/
component/alpacaserver/lib/
component/synapse/lib/
# ignore various files
src/*.lps
doc/alpaca_encoder.wiki
# ignore binary
*.o
src/alpaca_encoder
src/alpaca_encoder.exe
alpaca_encoder*.rpm
alpaca-encoder*.deb
alpaca_encoder*.exe
alpaca_encoder*.zip
alpaca_encoder*.tar.xz
alpaca_encoder*.tar.bz2
alpaca_encoder*.dmg
